@media only screen and (max-width: 999px)
	header#header h3
		font-size: 5em

@media only screen and (max-width: 800px)

	.wrapper
		padding: 0 3%
		width: 94%
	nav#main
		text-align: center
		ul
			float: none
		li a
			padding: 10px

	header#header
		background-position: 50% 24%
		margin-bottom: 60px
		padding-top: 40px
		h3
			font-size: 4.4em
			top: 34%
			width: 95%
		.ticket
			background-position: 50% 110%
			padding: 200px 0 50px
		a.action
			width: 42%

	.heading
		font-size: 3.3em
		margin-top: 20px

	#schedule .half
		clear: both
		display: block
		float: none
		padding: 0
		width: auto
		li
			padding: 10px 0

	#speakers li
		margin: 0 3% 2em
		min-height: 260px
		width: 27%

	.fifth
		width: 25%

	#venue .wrapper > a
		margin-left: 0
		padding-left: 30px

	#features .third
		margin-bottom: 15px

	nav#main li#register
		display: inline-block
	nav#main .register-now
		display: none

@media only screen and (max-width: 600px)
	.wrapper
		min-width: 300px

	#main_nav, .half, .third, .two-thirds, .fourth
		clear: both
		display: block
		float: none
		width: 100%
	#schedule
		.half
			padding: 0
		.topics
			margin: 15px 0 0
			li
				&:first-child
					border-top: 1px solid rgba(255, 255, 255, 0.08)
	header#header
		background-position: 50% 17%
		h1, h2
			display: block
			float: none
			width: auto
		h1
			padding: 0
			text-align: center
		h2
			background-image: none
			font-size: 1.5em
			margin-top: 10px
			padding-right: 0
			span
				display: inline
				font-size: 1em
		h3
			font-size: 3.3em
			line-height: 1
			top: 33%

		a.action
			font-size: 1.3em
			margin-left: 6%
			width: 80%
		.ticket
			padding: 220px 0 40px
			background-position: 50% 125%
		.features p
			font-size: .7em
			line-height: 1.3 !important
		
	nav#main
		text-align: center
		.wrapper
			padding: 0
			width: 100%
		ul
			float: none
		li a
			font-size: 12px
			padding: 10px 2px

	.heading
		font-size: 2.8em

	#speakers
		li
			min-height: 0px
			border-top: 1px solid rgba(255, 255, 255, 0.1)
			height: auto
			margin: 0
			padding-top: 10px
			text-align: left
			width: 100%
			h2
				padding: .3em 0 0 20%
			.rounded
				border-width: 4px
				float: left
				margin-bottom: 8px
				width: 15%
			.github img
				right: 0
			.twitter img
				right: 9%
			h3, ul
				padding-left: 20%
			h3
				font-size: 18px
				margin-bottom: .5em
			p
				margin-bottom: 1.2em
				padding-left: 1em
			.detail
				display: none

		.wrapper > ul > li
			margin: 0 0 .1em

	.fifth
		width: 50%

	#sponsors .row
		span, .info
			display: none

	#blog
		article
			margin: 0
			padding: 0
			time
				display: block
				padding-bottom: 5px
				position: static
				span
					display: inline
					&.day, &.month, &.year
						font-weight: normal
						font-size: 14px
		li
			margin-bottom: 40px
			&:last-child
				margin-bottom: 0
		.wrapper > a
			margin-top: 40px

@media only screen and (max-width: 400px)
	nav#main li a
		font-size: 10px
	#speakers li
		min-height: 0px
		margin: 0 5% 2em
