
%footer#footer
  .wrapper
    © 2013 Mad Mimi, LLC
    %br
    = link_to "Follow us on Twitter", "https://twitter.com/inboxawesome13", :target=>"_blank"
    |
    = link_to "Email us", "mailto:chris.riegger@madmimi.com"
    %p
      Design by
      = link_to "Siyelo", "http://siyelo.com", :target=>"_blank"