%section#presented
	.wrapper
		%h1.heading
			%a{:name=>"Presented by"}
			%span Presented by

		%ul.sponsors-list
			%li
				%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"}
					%img{:src=>"../images/logos/madmimi.png"}
				.row
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com

			%li
				%a{:href=>"http://www.amolsarva.com", :target=>"_blank", :title=>"Amol Sarva Ph.D."}
					%img{:src=>"../images/logos/amol_sarva.png"}
				.row
					%a{:href=>"http://www.amolsarva.com", :target=>"_blank", :title=>"Amol Sarva Ph.D."} amolsarva.com