%section#presented
	.wrapper
		%h1.heading
			%a{:name=>"Presented by"}
			%span Presented by

		%ul.sponsors-list
			%li
				%a{:href=>"#madmimi", :class=>"info fancybox", rel: 'sponsors', :title=>"Mad Mimi"}
					%img{:src=>"../images/logos/madmimi.png"}
				.row
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com
					/ %span &#9679;
					/ %a{:href=>"#madmimi", :class=>"info fancybox", rel: 'sponsors'} info

				#madmimi.detail
					%a{:href=>"https://www.madmimi.com"}
						%img{:src=>"../images/logos/madmimi2.png", :class=>"square"}
					%p Mad Mimi is a simple, intelligent and powerful email marketing utility that anyone can use. Mad Mimi makes email marketing easy for the creator, and easier on the eyes for the receiver. With ground-breaking technology, Mad Mimi is the simplest way to create branded, well-designed newsletters and promotions. Sign up free today and get started with simple, lovely email marketing.
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com

			%li
				%a{:href=>"#madmimi", :class=>"info fancybox", rel: 'sponsors', :title=>"Mad Mimi"}
					%img{:src=>"../images/logos/madmimi.png"}
				.row
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com
					/ %span &#9679;
					/ %a{:href=>"#madmimi", :class=>"info fancybox", rel: 'sponsors'} info

				#madmimi.detail
					%a{:href=>"https://www.madmimi.com"}
						%img{:src=>"../images/logos/madmimi2.png", :class=>"square"}
					%p Mad Mimi is a simple, intelligent and powerful email marketing utility that anyone can use. Mad Mimi makes email marketing easy for the creator, and easier on the eyes for the receiver. With ground-breaking technology, Mad Mimi is the simplest way to create branded, well-designed newsletters and promotions. Sign up free today and get started with simple, lovely email marketing.
					%a{:href=>"http://www.madmimi.com", :target=>"_blank", :title=>"Mad Mimi"} madmimi.com
