%section#schedule
  .wrapper
    %h1.heading
      %span Schedule

    / %h2.center Forthcoming...

    / %p.third 
    /   %strong Inbox Awesome
    /   will include a mix of panel discussions about the evolution of the email industry and demos from new, email-focused startups. Lunch will be provided and there will be scheduled time for networking. Our full schedule of content is forthcoming and will include topics like:

    / .two-thirds
    /   %ul.topics
    /     %li
    /       The Email User Experience: Has it changed? Hear how email UI is evolving to be more intuitive and what possibilities exist for the future.
    /     %li
    /       Merchandising via Email: Buying and Selling - Hear from large brands about how they use email to sell product and drive engagement.
    /     %li
    /       Stories, Media and Content: A discussion on content and media in 2013 and beyond.
    /     %li
    /       The Shift to Real-time and Relevant: Smartphones, GPS, Local...consumers expect email to be more real-time and more relevant. Hear from brands that are getting it right.
    /     %li
    /       Tools for Marketers: Hear from an industry panel about new tools and opportunities for growth via the email channel.


    / Sample code for the schedule.
    
    .timeline
      .full
        %h2
          June 13 2013

        %ul
          %li
            %time 9:00am
            %p Registration and Breakfast

          %li
            %time 9:30am
            %p Welcome

          %li
            %time 10:00am
            %p Panel: Stories, Media and Content in the Inbox
            %ul
              %li Vanessa Liu, Trigger Media
              %li Neil Vogel, Netted
              %li Kevin Delaney, Quartz.com
              %li Rachel Sklar, Change the Ratio
              %li Geoff Bartakovics, Tasting Table
              %li Steve Bryant, Inside Hook
          
          %li
            %time 10:45am
            %p Panel: Merchandising via Email: Buying and Selling
            %ul
              %li Dan Frommer, Blogger
              %li John Caplan, OpenSky
              %li Ben Lerer, JackThreads, Thrillist
              %li Matt Bellows, Yesware
              %li Amanda Hesser, Food52

          %li
            %time 11:30am
            %p Fireside Chat: The Early Days of Email and How it Haunts Us
            %ul
              %li Anil Dash, Blogger
              %li Peter Stern, Groupware
              %li Bob Frankston, Lotus Express  

          %li 
            %time 12:15pm
            %p Lunch

          %li
            %time 1:45pm
            %p Panel: The Inbox UI: Unloveable and Unkillable 
            %ul
              %li Dave Troy, 410 Labs
              %li Francis Lobo, AOL / Altomail
              %li Amol Sarva, Knotable and Postco
              %li Owen Davis, NYC Seed

          %li
            %time 2:30pm
            %p Demos

          %li
            %time 3:15pm
            %p Break

          %li
            %time 3:30pm
            %p Panel: New Ideas and Tools for Marketers
            %ul
              %li Dean Levitt, Mad Mimi
              %li Scott Kurnit, Keep.com
              %li Matt Spielman, ReturnPath
              %li Zvi Band, Contactually
              %li Cassie Lancellotti-Young, Sailthru
              %li Steve Schneider, Gilt City

          %li
            %time 4:15pm
            %p Panel: The Only Thing That's Real-Time, Here, and Relevant
            %ul
              %li Vivek Sharma, Movable Ink
              %li Rob Ciccone, American Express
              %li Eldar Sadikov, Jetlore
              %li Matt Keiser, LiveIntent

          %li
            %time 5:00pm
            %p Closing Remarks
