%section#sponsors
	.wrapper
		%h1.heading
			%a{:name=>"sponsors"}
			%span Sponsors

		%ul.sponsors-list
			%li.fourth
				%a{:href=>"#siyelo", :class=>"info", rel: 'sponsors', :title=>"Siyelo Software"}
					%img{:src=>"../images/logos/siyelo.png"}
				.row
					%a{:href=>"http://www.siyelo.com", :target=>"_blank", :title=>"Siyelo Software"} siyelo.com
					/ %span &#9679;
					/ %a{:href=>"#siyelo", :class=>"info fancybox", rel: 'sponsors'} info

		%h2.highlight
			Interested in sponsoring this event?
			Check out the
			%a{:href=>"https://dl.dropbox.com/u/16854658/Rubyfuza/sponsors.pdf"} prospectus
			and drop us an
			%a{:href=>"mailto:sponsors@rubyfuza.org"} e-mail
