%section#sponsors
  .wrapper
    %h1.heading
      %a{:name=>"sponsors"}
      %span Sponsors

    %ul.sponsors-list
      %li.fourth
        %a{:href=>"http://siyelo.com", :class=>"info", :title=>"Siyelo Software"}
          %img{:src=>"../images/logos/siyelo.png"}
          siyelo.com

      / Sample sponsor code
      / %li.fourth
      /   %a{:href=>"#sample", :class=>"info", :title=>"Sample"}
      /     %img{:src=>"../images/logos/sample.png"}
      /     sampledomain.com

    %h2.highlight
      Interested in sponsoring this event?
      Drop us an
      %a{:href=>"mailto:chris.riegger@madmimi.com"} e-mail
