%section#venue
  .wrapper
    %h1.heading
      %a{:name=>"venue"}
      %span Venue
    %h2
      = link_to "The DUMBO Loft", "https://www.facebook.com/pages/The-Dumbo-Loft/106141909446426"
    = img "../images/strand.png"
    .rounded.left
      %iframe{:class=>"left", :frameborder => "0", :height => "200", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/?ie=UTF8&t=m&ll=40.702781,-73.988349&spn=0.007808,0.013733&z=16&output=embed", :width => "200"}
    %p Built in 1891 and situated at the foot of the Manhattan Bridge, The Dumbo Loft is a unique event space located in the heart of DUMBO, Brooklyn, NY. This awesome space features an open feel, tons of light, and historic architecture. (new paragraph) The DUMBO Loft can be easily reached from the F Train (York St.) or the A/C Trains (High St.).
    = link_to "View Map", "https://maps.google.com/maps?q=The+Dumbo+Loft,+Water+Street,+Brooklyn,+NY&hl=en&sll=40.697488,-73.979681&sspn=0.801708,1.598511&oq=dumbo+loft&hq=The+Dumbo+Loft,+Water+Street,+Brooklyn,+NY&t=m&z=15", :target => 'inbox_awesome_map'
    = link_to "Find accommodation", "mailto:tina@rubyfuza.org?subject=Looking%20for%20accommodation", :class => 'more'
